# Python
*.pyc
*~
__pycache__
.idea/

# Env
venv/

# Database


# Static folder at project root
/static/
the_data.csv

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
Desktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace
/ime.py
/new.py
/num.py
/proba.py
/test_params.py
